<h1>Administration page</h1>
<p>
  <ngb-alert type="info" [dismissible]="false">
    <strong>Warning!</strong> there will be administration info.
  </ngb-alert>
</p>
<p *ngIf="!data"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<table *ngIf="data" class="table table-bordered table-hover">
  <thead>
  <tr>
    <th>Date</th>
    <th>Temp. (C)</th>
    <th>Temp. (F)</th>
    <th>Summary</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let forecast of data">
    <td>{{ forecast.date }}</td>
    <td>{{ forecast.temperatureC }}</td>
    <td>{{ forecast.temperatureF }}</td>
    <td>{{ forecast.summary }}</td>
  </tr>
  </tbody>
</table>
